*{
    margin:0;
    padding:0;
}
#container{
    position: relative;
}
.box{
    float: left;
    padding: 5px;
}
.box-img{
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ccc;/*阴影：左右、上下、周围阴影长度*/
    border-radius: 5px;
}
.box-img img{
    width: 230px;
    height:auto;
    transition:0.7s;
}


